<div class='inside-tab img-rounded'>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" class="active"><a href="#Create" aria-controls="Create" role="tab" data-toggle="tab">Create <span class="glyphicon glyphicon-plus"></span></a></li>
                      <!--<li role="presentation"><a href="#Message" aria-controls="Message" role="tab" data-toggle="tab">Message <span class="glyphicon glyphicon-envelope"></span></a></li>
                      <li role="presentation"><a href="#Shortlist" aria-controls="Shortlist" role="tab" data-toggle="tab">Shortlist <span class="icon-edit"></span></a></li>
                      <li role="presentation"><a href="#Matches" aria-controls="Matches" role="tab" data-toggle="tab">Job Matches <span class="glyphicon glyphicon-search"></span></a></li>
                      <li role="presentation"><a href="#CBT" aria-controls="CBT" role="tab" data-toggle="tab">CBT <span class="icon-desktop"></span></a></li>-->
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane active" id="Create">
                        <div class='inside-tab'>
                            <hr/>
                            Create a Job Post
                            <hr/>
                            <div id="post_alert" class="alert alert-danger">
                                    <strong>Oh snap!</strong> Error Encountered, please change a few things and try again.
                              </div>
                            <div id="personal_profile_alert" class="alert">
                                    <strong>Oh snap!</strong> Error Encountered, please change a few things and try again.
                              </div>
                              <input type="hidden" id="user_id" value="<?php echo $this->user_id; ?>"/>
                              <input type="hidden" id="user_name" value="<?php echo $this->user_name; ?>"/>
                              <div id='job_details'> 
                                  <div class="form-group">
                                      <input type="text" id='title' placeholder="Title" class="form-control"/>
                                  </div>
                                  <div class="form-group">
                                      <div>Company</div>
                                      <input type="text" id='company' placeholder="Company" value="<?php echo $this->user_full_name; ?>" class="form-control"/>
                                  </div>
                                  <!--<div class="form-group">
                                      <div>Company Logo</div>
                                      <input type="file" id='image' placeholder="Company Logo" class="form-control"/>
                                  </div> -->
                                  <input id="location" style="display:none;" type="text" placeholder="Enter a location"/>
                                  <div style="height:200px; margin-bottom: 10px;">
                                      <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
                                      
                                        <div id="type-selector" class="controls" style="display:none">
                                          <input type="radio" name="type" id="changetype-all" checked="checked">
                                          <label for="changetype-all">All</label>

                                          <input type="radio" name="type" id="changetype-establishment">
                                          <label for="changetype-establishment">Establishments</label>

                                          <input type="radio" name="type" id="changetype-address">
                                          <label for="changetype-address">Addresses</label>

                                          <input type="radio" name="type" id="changetype-geocode">
                                          <label for="changetype-geocode">Geocodes</label>
                                        </div>
                                        <div id="map-canvas"></div>
                                  </div>
                                  <div class="form-group">
                                      <div>Job Description</div>
                                      <textarea id='desc_ck' placeholder="Job Description"></textarea>
                                      <textarea id='desc' style="display:none" placeholder="Job Description"></textarea>
                                  </div>
                                  <div class="form-group">
                                      <div>Application Close Date</div>
                                      <input type="date" id='date' placeholder="Application Close Date" class="form-control"/>
                                  </div>
                                  <div class="form-group">
                                      <!--<input type="text" id='desc' placeholder="Sector" class="form-control"/>-->
                                      <select class="form-control" id="sector" aria-describedby="p_sectorStatus">
                                          <option value="0" selected>Choose a Sector</option>
                                          <?php
                                                  for($i=0; $i<count($this->sectors); $i++){ //isSelected($this->sectors[$i]['rebruit_sector_id'], $this->user_sector)
                                                      echo "<option value='".$this->sectors[$i]['rebruit_sector_id']."' >".$this->sectors[$i]['rebruit_sector_label']."</option>";
                                                  }
                                          ?>
                                      </select>
                                  </div>
                                  <div class="form-group">
                                      <div class="input-group">
                                        <span class="input-group-addon">N</span>
                                        <input type="text" id='salary' placeholder="Salary" class="form-control"/>
                                      </div>
                                  </div>
                              </div>
                          <div>
                              <?php 
                                  //echo "The user type is ".$this->user_type;
                                      echo '<button onClick="submit_job_post()" id="post_job_button" type="button" class="btn btn-success">Post this Job</button>';

                                  //echo "User type is " . $user_details->user_type;
                              ?>
                          </div>
                      </div>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="Message"></div>
                      <div role="tabpanel" class="tab-pane" id="Shortlist"></div>
                      <div role="tabpanel" class="tab-pane" id="Matches"></div>
                      <div role="tabpanel" class="tab-pane" id="CBT"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    CKEDITOR.replace( 'desc_ck' );

function initialize() {
  var mapOptions = {
    center: new google.maps.LatLng(-33.8688, 151.2195),
    zoom: 13
  };
  var map = new google.maps.Map(document.getElementById('map-canvas'),
    mapOptions);

  var input = /** @type {HTMLInputElement} */(
      document.getElementById('pac-input'));

  var types = document.getElementById('type-selector');
  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
  map.controls[google.maps.ControlPosition.TOP_LEFT].push(types);

  var autocomplete = new google.maps.places.Autocomplete(input);
  autocomplete.bindTo('bounds', map);

  var infowindow = new google.maps.InfoWindow();
  var marker = new google.maps.Marker({
    map: map,
    anchorPoint: new google.maps.Point(0, -29)
  });

  google.maps.event.addListener(autocomplete, 'place_changed', function() {
    infowindow.close();
    marker.setVisible(false);
    var place = autocomplete.getPlace();
    if (!place.geometry) {
      window.alert("Autocomplete's returned place contains no geometry");
      return;
    }

    // If the place has a geometry, then present it on a map.
    if (place.geometry.viewport) {
      map.fitBounds(place.geometry.viewport);
    } else {
      map.setCenter(place.geometry.location);
      map.setZoom(17);  // Why 17? Because it looks good.
    }
    marker.setIcon(/** @type {google.maps.Icon} */({
      url: place.icon,
      size: new google.maps.Size(71, 71),
      origin: new google.maps.Point(0, 0),
      anchor: new google.maps.Point(17, 34),
      scaledSize: new google.maps.Size(35, 35)
    }));
    marker.setPosition(place.geometry.location);
    marker.setVisible(true);

    var address = '';
    if (place.address_components) {
      address = [
        (place.address_components[0] && place.address_components[0].short_name || ''),
        (place.address_components[1] && place.address_components[1].short_name || ''),
        (place.address_components[2] && place.address_components[2].short_name || '')
      ].join(' ');
    }

    infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
    infowindow.open(map, marker);
  });

  // Sets a listener on a radio button to change the filter type on Places
  // Autocomplete.
  function setupClickListener(id, types) {
    var radioButton = document.getElementById(id);
    google.maps.event.addDomListener(radioButton, 'click', function() {
      autocomplete.setTypes(types);
    });
  }

  setupClickListener('changetype-all', []);
  setupClickListener('changetype-address', ['address']);
  setupClickListener('changetype-establishment', ['establishment']);
  setupClickListener('changetype-geocode', ['geocode']);
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>