<div class='inside-tab img-rounded'>
<div class="container-fluid">
 <div class="row">
    <div class="col-xs-12">
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">All Jobs</a></li>
              
              <li role="presentation"><a href="#matched" aria-controls="matched" role="tab" data-toggle="tab">Matched</a></li>
              
              <li role="presentation"><a href="#applied" aria-controls="applied" role="tab" data-toggle="tab">Applied</a></li>
              
              <li role="presentation"><a href="#referred" aria-controls="referred" role="tab" data-toggle="tab">Referred</a></li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="all">
                <div class='inside-tab' id="div_for_all_jobs">
                    <div id="all_jobs_alert" class="alert">
                              <strong>Oh snap!</strong> Error Encountered, please change a few things and try again.
                        </div>
                    <!--Beginning of trial-->
                    <div class="row">
            <?php
//            var_dump($this->all);
        if(count($this->all) > 0){
            for($i=0; $i<count($this->all); $i++){
                (strlen($this->all[$i]['job_vacancy_company']) < 1)? $nm = $this->all[$i]['user_name'] : $nm = $this->all[$i]['job_vacancy_company'];
                ?>
                <div class="col-xs-5 col-xs-offset-1" style="border:thin solid #f5f5f5; border-radius:5px; margin: 10px;">
                    <div id='says'>
                        <div class='col-xs-3' style='text-align:center; margin-top:20px;'>
                            <span style='font-size:xx-large' class='icon-suitcase'></span>
                        </div>
                        <div  class='col-xs-9' style="padding-top: 5px;">
                                    <span aria-hidden="true" style="float:right;" onClick='post_operations("<?php echo $this->all[$i]['job_post_id']; ?>","job_detail")'><i class="icon-info-sign"></i></span>
                            <div style='font-size:x-large'><?php echo $nm; ?></div>
                            <div style='margin-top:5px; margin-bottom:5px; font-size:smaller;'>
                                <div class='row'>
                                    <?php echo $this->all[$i]['job_post_title']; ?>
                                </div>
                                <div class='row'>
                                    <?php echo $this->all[$i]['job_vacancy_location']; ?>
                                </div>
                            </div>
                            <div id='op' style='float:none;' class='options'>
                                <?php
                                    echo    "<span data-toggle='modal' data-target='#other_info' class='fa fa-list option_item' onClick='post_operations(".
                                    $this->all[$i]['job_post_id'].",\"job_detail\")'> Details </span> <span class='fa fa-floppy-o option_item' onClick='apply_save_job(".
                                    $this->all[$i]['job_post_id'].",\"save\")'> Save </span> <span class='icon-thumb_tack option_item' onClick='apply_save_job(".
                                    $this->all[$i]['post_post_id'].",\"apply\")'> Apply </span>";
                                ?>
                            </div>
                        </div>
                        <div style="text-align: right; margin-top: 5px; margin-bottom: 5px;">
                        <hr/>
                                <?php echo "<div style='font-size:x-small'>Posted : ".$this->applied[$i]['job_post_date']. "</div>"; ?>
                            </div>
                    </div>
                </div>
            <?php
            }
        }
            ?>
                    </div>
                    <!--End of trial-->
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="matched">
                    <div class='inside-tab'>
                        <div id="matched_jobs_alert" class="alert">
                              <strong>Oh snap!</strong> Error Encountered, please change a few things and try again.
                        </div>
                        <div class="row">
            <?php
            var_dump($this->matched);
        if(count($this->matched) > 0){
            for($i=0; $i<count($this->matched); $i++){
                (strlen($this->matched[$i]['job_vacancy_company']) < 1)? $nm = $this->matched[$i]['user_name'] : $nm = $this->matched[$i]['job_vacancy_company'];
                ?>
                <div class="col-xs-5 col-xs-offset-1" style="border:thin solid #f5f5f5; border-radius:5px; margin: 10px;">
                    <div id='says'>
                        <div class='col-xs-3' style='text-align:center; margin-top:20px;'>
                            <span style='font-size:xx-large' class='icon-suitcase'></span>
                        </div>
                        <div  class='col-xs-9' style="padding-top: 5px;">
                                    <span aria-hidden="true" style="float:right;" onClick='post_operations("<?php echo $this->matched[$i]['job_post_id']; ?>","job_detail")'><i class="icon-info-sign"></i></span>
                            <div style='font-size:x-large'><?php echo $nm; ?></div>
                            <div style='margin-top:5px; margin-bottom:5px; font-size:smaller;'>
                                <div class='row'>
                                    <?php echo $this->matched[$i]['job_post_title']; ?>
                                </div>
                                <div class='row'>
                                    <?php echo $this->matched[$i]['job_vacancy_location']; ?>
                                </div>
                            </div>
                            <div id='op' style='float:none;' class='options'>
                                <?php
                                    echo    "<span data-toggle='modal' data-target='#other_info' class='fa fa-list option_item' onClick='post_operations(".
                                    $this->matched[$i]['job_post_id'].",\"job_detail\")'> Details </span> <span class='fa fa-floppy-o option_item' onClick='apply_save_job(".
                                    $this->matched[$i]['job_post_id'].",\"save\")'> Save </span> <span class='icon-thumb_tack option_item' onClick='apply_save_job(".
                                    $this->matched[$i]['post_post_id'].",\"apply\")'> Apply </span>";
                                ?>
                            </div>
                        </div>
                        <div style="text-align: right; margin-top: 5px; margin-bottom: 5px;">
                        <hr/>
                                <?php echo "<div style='font-size:x-small'>Posted : ".$this->applied[$i]['job_post_date']. "</div>"; ?>
                            </div>
                    </div>
                </div>
            <?php
            }
        }
            ?>
                    </div>
                    </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="applied">
                    <div class='inside-tab'>
                        <div id="all_jobs_alert" class="alert">
                              <strong>Oh snap!</strong> Error Encountered, please change a few things and try again.
                        </div>
                        <div class="row header">
                            <div class="col-md-3">
                                Company Name
                            </div>
                            <div class="col-md-4">
                                Job Title
                            </div>
                            <div class="col-md-2">
                                Post Date
                            </div>
                            <div class="col-md-1">
                                Due
                            </div>
                            <div class="col-md-1">

                            </div>

                        </div>
                        <div class="row">
                        <?php
                            if(count($this->applied) > 0){
                                for($i=0; $i<count($this->applied); $i++){
                                    $row = '<div style="padding-left:10px;"><div class="row">'.
                                    '<div class="col-sm-3" style="">'.$this->applied[$i]['user_name'].'</div>'.
                                    '<div class="col-sm-4">'.$this->applied[$i]['job_post_title'].'</div>'.
                                    '<div class="col-sm-2">'.$this->applied[$i]['job_post_date'].'</div>'.
                                    '<div class="col-sm-1">'.$this->applied[$i]['job_post_due'].'</div>'.
                                    '<div class="col-sm-1"><i title="Cancel Application" onClick="apply_save_job('.$this->applied[$i]['job_post_id'].',\'apply\')" class="icon-trash"></i></div></div><hr/></div>';
                                    echo $row;
                                }
                            }
                        ?>
                        </div>
                    </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="referred">
                    <div class='inside-tab'>
                    </div>
              </div>
            </div>

          </div>
      </div>
  </div>
</div>
</div>