<style>
    #canvas-holder1 {
        width: 300px;
        margin: 20px auto;
    }
    #canvas-holder2 {
        width: 50%;
        margin: 20px 25%;
    }
    #chartjs-tooltip {
        opacity: 1;
        position: absolute;
        background: rgba(0, 0, 0, .7);
        color: white;
        padding: 3px;
        border-radius: 3px;
        -webkit-transition: all .1s ease;
        transition: all .1s ease;
        pointer-events: none;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .chartjs-tooltip-key{
        display:inline-block;
        width:10px;
        height:10px;
    }
    </style>

<div class="row">
    <div class="col-sm-7 col-md-7" style=''>
        <div id="post_alert" class="alert alert-danger">
            <strong>Oh snap!</strong> Error Encountered, please change a few things and try again.
      </div>
            <div style='padding:10px; background-color:white; margin-bottom:10px;'>
                    <h4>What's New</h4>
                    <hr/>
                    <form>
                        <textarea style="padding:5px;" id="post_form" placeholder="Let's know what's going gone!"></textarea>
                        <input type="hidden" id="user_id" value="<?php echo $this->user_id; ?>"/>
                        <input type="hidden" name="post_to_id" value="<?php echo $this->user_id; ?>" id="rec_id"/>
                        <input type="hidden" id="user_name" value="<?php echo $this->user_name; ?>"/>
                        <div id='job_details' style="display:none;"> 
                            <div class="form-group">
                                <input type="text" id='title' placeholder="Job Title" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <input type="text" id='desc' placeholder="Job Description" class="form-control"/>
                            </div>
                            <div class="form-group">
                                Application Close Date
                            </div>
                            <div class="form-group">
                                <input type="date" id='date' placeholder="Application Close Date" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <!--<input type="text" id='desc' placeholder="Sector" class="form-control"/>-->
                                <select class="form-control" id="sector" aria-describedby="p_sectorStatus">
                                    <option value="0" selected>Choose a Sector</option>
                                    <?php
                                            for($i=0; $i<count($this->sectors); $i++){ //isSelected($this->sectors[$i]['rebruit_sector_id'], $this->user_sector)
                                                echo "<option value='".$this->sectors[$i]['rebruit_sector_id']."' >".$this->sectors[$i]['rebruit_sector_label']."</option>";
                                            }
                                    ?>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                  <span class="input-group-addon">N</span>
                                  <input type="text" id='salary' placeholder="Salary" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-xs-4 form-group" style='margin-right:-15px;'>
                            <button  onClick="submit_post('post')" type="submit" class=" form-control btn btn-success">Post</button>
                        </div>
                        <div class="col-xs-4" style='margin-left:-15px;'>
                            <?php 
                            //echo "The user type is ".$this->user_type;
                            
                            if($this->user_type === 2 || $this->user_type === '2'){
                                //echo '<button onClick="switch_to_job()" id="job_button" type="submit" class="btn btn-success">Switch to Job</button>';
                                echo '<button onClick="location=\'Recruiter\'" id="job_button" type="submit" class="btn btn-success">Switch to Job</button>';
                            }
                                echo '<button style="display:none;" onClick="submit_job_post()" id="post_job_button" type="submit" class="btn btn-success">Post this Job</button>';
                            
                                //echo "User type is " . $user_details->user_type;
                            ?>
                        </div>
                        <div class="col-xs-4" style=''>
                            
                        </div>
                    </div>
            </div>
            <!--Begin posts here-->
            <div id='posts'>
                
            </div>
            <!--End of posts-->
    </div>
    <div class="col-sm-5 col-md-5">
        <div class='inside-tab center img-rounded' id="profile_completion_div" style="display:none;">
                    <h4 class='tab-title'><span class="icon-user"></span> Profile</h4>
                    <hr/>
                    <div class="row">
                            <div class="col-sm-12 col-md-12">
                              <div class="progress">
                                <div id="profile_completion" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                    
                                    <span class="sr-only">100% Complete (success)</span>
                                </div>
                              </div>
                            </div>
                            <div style="text-align: center;">
                                    Profile Completion
                            </div>
                    </div>
            </div>
                
            <!--Skill Chart
            <div class='inside-tab center img-rounded'>
                <h4 class='tab-title'><span class="glyphicon glyphicon-stats"></span> Bruit Rank</h4>
                <hr/>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                                <div style="width:100%; text-align: center;">
                                    <div>
                                        <canvas id="myCanvas" style="width:100%; text-align: center;"></canvas>
                                    </div>
                                        <div>
                                                <canvas id="canvas" height="450" width="600"></canvas>
                                        </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            End of Skill Chart-->

            <div> 
                    <div class='inside-tab img-rounded'>
                    <h4 class='tab-title'><span class="icon-suitcase"></span> 
                        <!--Jobs-->
                        <?php 
                            if($this->user_type === 2 || $this->user_type === '2'){
                                echo 'Your Jobs';
                            }else{
                                echo "Jobs";
                            }
                        ?>
                    </h4>
                    <hr/>
                    <div class="container-fluid">
                            <div class="row">
                                    <div class="col-xs-12">
                                        <div role="tabpanel">
                                            <!-- Nav tabs -->
                                            <ul class="nav nav-tabs" role="tablist">
                                              <li role="presentation" class="active"><a href="#matched_jobs" aria-controls="matched_jobs" role="tab" data-toggle="tab">Matched</a></li>
                                              <li role="presentation"><a href="#applied_jobs" aria-controls="applied_jobs" role="tab" data-toggle="tab">Applied</a></li>
                                              <li role="presentation"><a href="#saved_jobs" aria-controls="saved_jobs" role="tab" data-toggle="tab">Saved</a></li>
                                              <!--<li role="presentation"><a href="#referred_jobs" aria-controls="referred_jobs" role="tab" data-toggle="tab">Recent Posting</a></li>-->
                                            </ul>

                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                              <div role="tabpanel" class="tab-pane active" id="matched_jobs"></div>
                                              <div role="tabpanel" class="tab-pane" id="applied_jobs"></div>
                                              <div role="tabpanel" class="tab-pane" id="saved_jobs"></div>
                                              <div role="tabpanel" class="tab-pane" id="referred_jobs"></div>
                                            </div>

                                          </div>
                                        <!--
                                            <div class="list-group">
                                                    <a href="#" class="list-group-item active">
                                                      Shell Vacancy
                                                    </a>
                                                    <a href="#" class="list-group-item">IT Administrator</a>
                                                    <a href="#" class="list-group-item">UI Specialist</a>
                                                    <a href="#" class="list-group-item">Finance Officer</a>
                                              </div>
                                        -->
                                    </div>
                            </div>
                    </div>
                    </div>
            </div>

        <div>
            <div class='inside-tab center img-rounded'>
                <h4 class='tab-title'><span class="icon-sitemap"></span> Connections</h4>
                <hr/>
                <div class="container-fluid">
                        <div class="row">
                            <?php
                                if(count($this->connections) < 1){
                                    echo 'This place feels lonely! <br/> you have no connections yet.';
                                }else{
                                    for($i = 0; $i < count($this->connections); $i++){
                                        $name = $this->connections[$i]["name"];
                                        echo '<div class="col-xs-6 col-sm-6 col-md-6  col-lg-4">';
                                        echo '<div class="conn"></div>';
                                        echo "<div>{$name}</div>";
                                        echo "</div>";
                                    }
                                    
                                }
                            ?>
                        </div>
                </div>
            </div>
        </div>

    </div>
</div>
    
    <script>
        
        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");
        
        ctx.font="60px Georgia";
        ctx.fillText("/",115,80);
        
        ctx.font="60px Georgia";
        ctx.fillText("100",140,90);
        // Create gradient
        var gradient=ctx.createLinearGradient(0,0,c.width,0);
        gradient.addColorStop("0","green");
//        gradient.addColorStop("0.5","blue");
//        gradient.addColorStop("1.0","red");
        // Fill with gradient
        ctx.fillStyle=gradient;

        ctx.font="60px Georgia";
        ctx.fillText("005",10,50);

        
        
        
        
        var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
        var lineChartData = {
            labels : ["Mon","Tue","Wed","Thurs","Fri","Sat","Sun"],
            datasets : [
                {
                    label: "My First dataset",
                    fillColor : "rgba(220,220,220,0.2)",
                    strokeColor : "rgba(220,220,220,1)",
                    pointColor : "rgba(220,220,220,1)",
                    pointStrokeColor : "#fff",
                    pointHighlightFill : "#fff",
                    pointHighlightStroke : "rgba(220,220,220,1)",
                    data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
                },
                {
                    label: "My Second dataset",
                    fillColor : "rgba(151,187,205,0.2)",
                    strokeColor : "rgba(151,187,205,1)",
                    pointColor : "rgba(151,187,205,1)",
                    pointStrokeColor : "#fff",
                    pointHighlightFill : "#fff",
                    pointHighlightStroke : "rgba(151,187,205,1)",
                    data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
                }
            ]

        }

//    window.onload = function(){
//        var ctx = document.getElementById("canvas").getContext("2d");
//        window.myLine = new Chart(ctx).Line(lineChartData, {
//            responsive: true
//        });
//    }


    </script>