<div class="jumbotron" style="min-height: 200px; padding-top: 80px;">
      <div class="container">
            <div class="row" style='font-size: 18px; text-align:center;'>
                
            <!--<p><div style='font-size:50px'>Africa's First Social Job Network.</div></p>-->
                    <div class="col-md-12">
                          An online community of jobseekers and recruiters, where users get to find both trusted and quality jobs or talents.
                    </div>
            </div>
        <p><!--<a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a>--></p>
      </div>
    </div>

<div class="row" style="background-color: #003B4F; margin-top: -30px; min-height: 200px;">
    <div class="arrow-separator arrow-grey"></div>
    <div class="container">
            <div class="row" style='padding-top:50px; padding-bottom:25px; font-size:50px; text-align:center; color: white;'>
                
            <!--<p><div style='font-size:50px'>Africa's First Social Job Network.</div></p>-->
                    <div class="col-xs-4">
                            <i class="icon-edit"></i>
                            <div style='font-size:30px'> Create </div>
                    </div>
                    <div class="col-xs-4">
                            <i class="icon-search"></i>
                            <div style='font-size:30px'> Find </div>
                    </div>
                    <div class="col-xs-4">
                            <i class="icon-bullhorn"></i>
                            <div style='font-size:30px'> Share </div>
                    </div>
            </div>
        <p><!--<a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a>--></p>
      </div>
</div>
<div class="arrow-separator arrow-theme" style="margin-bottom: 20px;"></div>

    <!-- I wanna put a patners scroller here-->
    <div style='text-align:center; font-size:25px'>
        Collaborators
    </div>
    <div id="slider1_container" style="position:relative;margin:0 auto;top:0px; left:0px;  width:980px; height:100px; overflow:hidden;">
        <div u="loading" style="position:absolute;top:0px;left:0px;">
        <div style="filter:alpha(opacity=70);opacity:0.7;position:absolute;display:block;background-color:#000;top:0px;left:0px;width:100%;height:100%;">
        </div>
        <div style="position:absolute;display:block;background:url(../img/loading.gif) no-repeat center center;top:0px;left:0px;width:100%;height:100%;">
        </div>
        </div>
        <div u="slides" style="cursor:move;position:absolute;left:0px;top:0px;width:980px;height:100px;overflow:hidden;">

            <div class="col-xs-6 col-sm-3 placeholder2">
              <img class="img-circle2" src='<?php echo $this->baseUrl(); ?>/assets/img/patners/1.png' style='width:100%;'/>
              <!--<h4>NYSC</h4>
              <span class="text-muted">National Youth Service Corps</span>-->
            </div>

            <div class="col-xs-6 col-sm-3 placeholder2">
              <div class="img-circle2" style='width:100%;'>
              <img class="img-circle2" src='<?php echo $this->baseUrl(); ?>/assets/img/patners/2.png' style='width:100%;'/></div>
              <!--<h4>NYSC</h4>
              <span class="text-muted">National Youth Service Corps</span>-->
            </div>

            <div class="col-xs-6 col-sm-3 placeholder2">
              <img class="img-circle2" src='<?php echo $this->baseUrl(); ?>/assets/img/patners/3.png' style='width:100%;'/>
              <!--<h4>NYSC</h4>
              <span class="text-muted">National Youth Service Corps</span>-->
            </div>

            <div class="col-xs-6 col-sm-3 placeholder2">
              <img class="img-circle2" src='<?php echo $this->baseUrl(); ?>/assets/img/patners/4.png' style='width:100%;'/>
              <!--<h4>NYSC</h4>
              <span class="text-muted">National Youth Service Corps</span>-->
            </div>

            <div class="col-xs-6 col-sm-3 placeholder2">
              <img class="img-circle2" src='<?php echo $this->baseUrl(); ?>/assets/img/patners/5.png' style='width:100%;'/>
              <!--<h4>NYSC</h4>
              <span class="text-muted">National Youth Service Corps</span>-->
            </div>

            <div class="col-xs-6 col-sm-3 placeholder2">
              <div class="img-circle2" style='width:100%;'>
              <img class="img-circle2" src='<?php echo $this->baseUrl(); ?>/assets/img/patners/6.png' style='width:100%;'/></div>
              <!--<h4>NYSC</h4>
              <span class="text-muted">National Youth Service Corps</span>-->
            </div>

            <div class="col-xs-6 col-sm-3 placeholder2">
              <img class="img-circle2" src='<?php echo $this->baseUrl(); ?>/assets/img/patners/7.png' style='width:100%;'/>
              <!--<h4>NYSC</h4>
              <span class="text-muted">National Youth Service Corps</span>-->
            </div>

            <div class="col-xs-6 col-sm-3 placeholder2">
              <img class="img-circle2" src='<?php echo $this->baseUrl(); ?>/assets/img/patners/8.png' style='width:100%;'/>
              <!--<h4>NYSC</h4>
              <span class="text-muted">National Youth Service Corps</span>-->
            </div>

            <div class="col-xs-6 col-sm-3 placeholder2">
              <img class="img-circle2" src='<?php echo $this->baseUrl(); ?>/assets/img/patners/9.png' style='width:100%;'/>
              <!--<h4>NYSC</h4>
              <span class="text-muted">National Youth Service Corps</span>-->
            </div>
        
        </div>

    </div> <!--End of patners scroll view-->

<script>
    //alert("The session var <?php echo $_SESSION['auth_token']; ?>");
    </script>