<style>
    .contacts{
        padding: 10px;
        background-color: whitesmoke;
        border-radius: 5px;
        margin-bottom: 5px;
    }
    .pointer{
        cursor: pointer;
    }
</style>
<div class='inside-tab img-rounded'>
<div class="container-fluid">
 <div class="row">
    <div class="col-xs-4 col-md-4" style="height:50px;">
        <div style="margin-left: -14px; margin-right: -14px; /*border: 1px solid grey*/">
            <div style="background-color: whitesmoke; height: 30px; text-align: center; font-size: larger; padding-top: 5px;">
                Recent
            </div>
        </div>
    </div>
    <div class="col-xs-8 col-md-8">
        <div style="/*border: 1px solid grey*/"><i class="fa fa-pencil-square-o" ></i>
            <div style="background-color: whitesmoke; height: 30px; text-align: center; font-size: larger; padding-top: 5px;">
                Messages 
            </div>
        </div>
    </div>
 </div>
<!--Content Starts here because header hends here-->
 <div class="row" style="">
    <div class="col-xs-4 col-md-4">
        <div style="margin-left: -14px; margin-right: -14px; ">
            <div style="/*background-color: whitesmoke;*/ min-height: 200px; max-height: 400px; overflow-y: auto; padding-top: 5px; boder: 1px solid #E6E6E6;">
                
                 <?php
//                    var_dump($this->contacts);
                    if(count($this->contacts)){
                        for($i = 0; $i < count($this->contacts); $i++){//18 chars in total
                            $name = "";
                            $id = $this->contacts[$i]["user_id"];
                            $ln = $this->contacts[$i]["user_last_name"];
                            if($id === $this->user_id){
                                $id = $this->contacts[$i]["receiver_id"];
                                $ln = $this->contacts[$i]["receiver_name"];
                            }
                            $name = $this->contacts[$i]["user_first_name"];
                            if(strlen($name) < 18){
                                $rem = 18 - strlen($name);
                                $name = $name . " " . substr($ln, 0, $rem);
                            }
                            echo '<div class="contacts pointer" onClick="showMsgBox(\''.$id.'\',\''.$name.'\')" ><span>'.ucfirst($name).'</span></div>';
                        }
                    }else{
                        echo "You have no recent message, but you can create a new message now!";
                    }
                ?>
            </div>
        </div>
    </div>
    <div class="col-xs-8 col-md-8">
        <div>
            <div id="msgBox" style="background-color: whitesmoke; min-height: 400px;  text-align: left; font-size: small; padding: 10px;">
                <div style="text-align:right; font-size: 35px;">
                    <span style="font-size:small;"> Create New</span> <span class="icon-edit create_message pointer" onclick="showDraft()"> </span>
                </div>
                
                <!--Begin compose here for other contacts-->
                <div class="form-group has-feedback" id="current_box" style="display:none;">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="icon-edit"></i></span>
                      <input type="hidden" id="current_to_id"/>
                      <input type="text" class="form-control" id="current_msg" onkeyup="checkKey(event)" autocomplete="off" placeholder="Enter message here."/>
                    </div>
                </div>
                <!--End of compose for other contacts-->
                
                 <div id="post_alert" class="alert alert-danger">
                        <strong>Oh snap!</strong> Error Encountered, please change a few things and try again.
                  </div>
                <div id="draft_box" class='img-rounded' style='display: block; border: 1px solid #E6E6E6; min-height:200px; padding:10px;'>
                    <div class="form-group has-feedback"><!--has-warning-->
                        <label class="control-label" for="rec">Recipient</label>
                        <div class="input-group">
                          <span class="input-group-addon"><i class="icon-user"></i></span>
                          <input type="hidden" name="post_to_id" id="post_to_id"/>
                          <input type="text" class="form-control" id="post_to_name" onkeyup="autocomplet2()" autocomplete="off" aria-describedby="inputWarning2Status"/>
                          
                          <ul id="search_list_id2" style="display: none;"> </ul>
                        </div>
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                        <span id="p_dobStatus" class="sr-only">(warning)</span>
                    </div>
                    <?php
                        
                        echo "<textarea id='post_form' style='height:200px; padding-top:10px; padding-left:10px;' placeholder='Message to send'></textarea>";
                            echo '<button onClick="submit_post(\'inbox\')" type="submit" class="btn btn-success">Send Message</button>';
                        //var_dump($this->contacts);

                    ?>
                </div>
                <div id="read_box" class="row" style="display:block; max-height: 450px; overflow-y: auto; background-color: #fff; margin-left: 15px; margin-right: 15px; padding: 10px;">
                    <!--<div id="msgLine" class="row">
                        <div id="img" class="col-xs-1"> 
                            <div >
                                <img class="msg_img" src="http://localhost/rebruit/public/assets/img/user.png"/>
                            </div>
                        </div>
                            <div id="msg" class="col-xs-10 col-xs-offset-1"> 
                                <div class="triangle-border left">
                                    message
                                </div> 
                            </div>
                    </div>
                    <div id="msgLine2" class="row">
                        <div id="msg" class="col-xs-10"> 
                            <div class="triangle-border right">
                                message<p>close paragraph </p>
                            </div> 
                        </div>
                        <div id="img" class="col-xs-1 col-xs-offset-1"> 
                            <div>
                                <img class="msg_img right" src="http://localhost/rebruit/public/assets/img/user.png"/>
                            </div>
                        </div>
                    </div> -->
                    <!--Selected message should show here-->
                </div>
            </div>
        </div>
    </div>
 </div>
</div>
</div>