<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-2">
            <div class='inside-tab img-rounded'>
                    <div class='link'> Search </div>
                    <hr/>
                    <input type="text" class="form-control" placeholder='Company/Person'/>
                    <br/>
                    <input type="text" class="form-control" placeholder='Gender'/>
                    <br/>
                    <input type="text" class="form-control" placeholder='Age Range'/>
                    <br/>
                    <div class='right'>
                            <button type="submit" class="btn btn-success">Search</button>
                      </div>
            </div>	

            <div class='inside-tab'>
                    <div class='link'> Your Connections </div>
                    <hr/>
                    X Companies
                    <br/>
                    XX People
                    <br/>
            </div>	
    </div>
    <div class="col-sm-9 col-md-9 col-lg-10" style=''>
            <div class='inside-tab'>
                    <h4>Search Result</h4>
                    <hr/>
                      <br/>
                      <div class='right'>
                            <button type="submit" class="btn btn-success">Search More</button>
                      </div>
            </div>

            <div><!--Companies-->
                    <div class='inside-tab'>
                    <h4> Suggested Companies</h4>
                    <hr/>
                    <!--Content Here-->
                    <br/>
                    </div>
            </div><!--Companies-->

            <div><!--People-->
                    <div class='inside-tab'>
                    <h4> Suggested People</h4>
                    <hr/>
                    <br/>
                    </div>
            </div><!--People-->
    </div>
</div>
