<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="<?php echo $this->baseUrl(); ?>/assets/ico/favicon.ico">

    <title>Rebruit</title>

    <!-- Bootstrap core CSS -->
    <link href="<?php echo $this->baseUrl(); ?>/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="<?php echo $this->baseUrl(); ?>/dashboard.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<style>
body{
 font-family:comfortaa;
 overflow-x: hidden;
}
.sign_up_input{
	font-size:larger;
}
</style>
  <body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43870465-1', 'rebruit.com');
  ga('send', 'pageview');

</script>
<div class="modal fade" id="fget" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel">Forgot Password?</h4>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
                <div id="forgot_alert" class="alert alert-danger">
                      <strong>Oh snap!</strong> Error Encountered, please change a few things and try again.
                </div>
                <div class="col-sm-12">
                    <div id="email_login_item" class="form-group has-feedback">
                        <input type="text" id='fget_email' placeholder="Please, enter your Email Address" class="form-control">
                        <span style="display: none" id="emailStatus" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                      </div>
                </div>
                </div>
            </div>
          </div>
        <div class="modal-footer">
          <button type="button" id="closemodal" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="fGet()" id="resetPassword">Reset</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style='font-family:comfortaa; font-size:200%;'>
			  <img src='<?php echo $this->baseUrl(); ?>/assets/img/header.png' style='height:200%; margin-top:-10px;'/>
			  Rebruit
		  </a>
        </div>
          <!--
          <div class="form-group has-error has-feedback">
          <input type="text" class="form-control" id="inputError2" aria-describedby="inputError2Status">
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span id="inputError2Status" class="sr-only">(error)</span>
          </div>
          -->
        <div class="navbar-collapse collapse">
          <span id='sIn' class="navbar-form navbar-right">
            <div id="email_login_item" class="form-group has-feedback">
              <input type="text" id='email' placeholder="Email" class="form-control">
              <span style="display: none" id="emailStatus" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            </div>
            <div id="pw_login_item" class="form-group has-feedback">
              <input type="password" id='password' onkeyup="checkButton(event)" placeholder="Password" class="form-control">
              <span style="display: none" id="passwordStatus" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            </div>
              <button title="Sign in" onClick="lIn()" class="btn btn-success">Go Bruit! <div style='float:right; margin-left:5px;'> <i id="spinner" style="display:none" class="icon-spinner icon-spin icon-large"></i><i id="bullhorn" class="icon-bullhorn"></i> </div></button>
              <button title="Forgot Password" data-toggle="modal" data-target="#fget"  class="btn btn-success">?</button>
          </span>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
	<div class="container2">
            <div class='row' style='height:500px; overflow-y:hidden; background-image:url("<?php echo $this->baseUrl(); ?>/assets/img/img2bg.jpg"); background-size:100%;'>
                    <div class="container-fluid" style='margin-top:10px;'>
                        <div class="col-lg-6 col-md-5 col-sm-6" style="margin-top:30px;">
                            <div style="color: #ffffff; font-size: 25px; margin-left: 20px;">
                                Africa's first social job network
                            </div>
                            <!--font-variant:small-caps-->
                            <div style="font-family: Helvetica; margin-left: 20px; font-variant:small-caps; margin-top:5px; font-size:large; color: #ffffff; font-weight:lighter; ">
                                Leverage the power of your new or existing network to create, find & share job opportunities.
                            </div>
                        </div>
                            <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-2 col-sm-offset-1 col-sm-5"> <!--col-xs-6 col-sm-3 -->
                                   
                                <div style='background-image:url("<?php echo $this->baseUrl(); ?>/assets/fancybox_overlay.png"); padding:10px;'>
                                        <div style='color:#49BAD1; margin-bottom:15px; font-size:large;'>
                                                New to Rebruit? Get Started</div>
                                                <div id="reg_alert" class="alert alert-danger" >
                                                    <strong>Oh snap!</strong> Error Encountered, please change a few things and try again.
                                              </div>
                                            <form role="form">
                                                    <div id="firstname_reg_item" class="form-group has-feedback">
                                                        <input type="text" id="freg" placeholder="First Name" onclick="res()" class="form-control sign_up_input" required/>
                                                        <span style="display: none; margin-top: -25px;" id="uregStatus" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                                    </div>
                                                
                                                    <div id="lastname_reg_item" class="form-group has-feedback">
                                                        <input type="text" id="lreg" placeholder="Last Name" onclick="res()" class="form-control sign_up_input" required/>
                                                        <span style="display: none; margin-top: -25px;" id="uregStatus" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                                    </div>
                                                
                                                    <div id="email_reg_item" class="form-group has-feedback">
                                                        <input type="email" id="ereg" placeholder="Email" onclick="res()" class="form-control sign_up_input"/>
                                                        <span style="display: none; margin-top: -25px;" id="eregStatus" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                                    </div>
                                                    <div class="form-group has-feedback">
                                                        <select id="creg" placeholder="" onclick="res()"class="form-control sign_up_input">
                                                            <option value="0">Country</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group has-feedback input-group">
                                                        <span id="countryCode" class="input-group-addon"><i class="icon-phone"></i></span>
                                                        <input type="text" id="mreg" placeholder="Mobile" onclick="res()"class="form-control sign_up_input">
                                                    </div>

                                                    <div class="form-group has-feedback" style="display:none;">
                                                      <input type="password" id="preg" placeholder="Password" class="form-control sign_up_input">
                                                    </div>
                                                
                                                <div id="" class="form-group hass-feedback input-group" style="color:white;">
                                                    
                                                    <input type="radio" style="margin-right:10px;" name="type" id="seeker" value="seeker" checked="true"/>
                                                    <label for="male">Job Seeker</label>
                                                    <input type="radio" style="margin-right:10px; margin-left:10px;" name="type" id="recruiter" value="recruiter"/>
                                                    <label for="female">Recruiter</label><br>
                                                </div>
                                                
                                                <!--<div class="form-group has-feedback input-group">
                                                    <span class="input-group-addon"><i id="reg-spinner" style="display:none;" class="icon-spinner icon-spin icon-large"></i><i id="reg-bullhorn" class="icon-bullhorn"></i></span>
                                                        <select id="sreg" placeholder="Submit" class="form-control btn btn-primary btn-lg">
                                                            <option value="0">Join Rebruit</option>
                                                            <option value="3">as a Job Seeker</option>
                                                            <option value="2">as a Recruiter</option>
                                                        </select>
                                                </div> -->

                                                <a class="btn btn-primary btn-lg" onclick="rEg()"role="button">Join Rebruit! <div style='float:right; margin-left:5px;'><i id="reg-spinner" style="display:none;" class="icon-spinner icon-spin icon-large"></i><i id="reg-bullhorn" class="icon-bullhorn"></i></div></a>
                                                  
<!--<button type="submit" class="btn btn-success">Go Bruit! <i class="icon-bullhorn"></i></button>-->
                                              </form>
                                    </div>
                            </div>
                    </div>
                    <!--<img src='assets/img/office2.jpg' style=' margin-top:-80px; margin-right:-60'/>-->
            </div>
	</div>
      
	<!-- Main jumbotron for a primary marketing message or call to action -->
    
<?php echo $this->layout()->content; ?>
    <div class="container" style="display:none;">
      <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img class="img-circle" src='<?php echo $this->baseUrl(); ?>/img/nysc.png' style='width:100%;'/>
              <h4>NYSC</h4>
              <span class="text-muted">National Youth Service Corps</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <div class="img-circle" style='width:100%;'>
              <img class="img-circle" src='<?php echo $this->baseUrl(); ?>/img/nysc.png' style='width:100%;'/></div>
              <h4>NYSC</h4>
              <span class="text-muted">National Youth Service Corps</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img class="img-circle" src='<?php echo $this->baseUrl(); ?>/img/nysc.png' style='width:100%;'/>
              <h4>NYSC</h4>
              <span class="text-muted">National Youth Service Corps</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img class="img-circle" src='<?php echo $this->baseUrl(); ?>/img/nysc.png' style='width:100%;'/>
              <h4>NYSC</h4>
              <span class="text-muted">National Youth Service Corps</span>
            </div>
          </div>
        

      <hr>

      <footer>
        <p>&copy; Rebruit 2015</p>
      </footer>
    </div> <!-- /container -->

  </body>
</html>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
	<script src="<?php echo $this->baseUrl(); ?>/js/jquery.min.js"></script>
    <script src="<?php echo $this->baseUrl(); ?>/dist/js/bootstrap.min.js"></script>
	<script src="<?php echo $this->baseUrl(); ?>/js/enter.js"></script>
  <!--<script src="<?php echo $this->baseUrl(); ?>/js/jssor.slider.mini.js"></script>-->
  <script src="<?php echo $this->baseUrl(); ?>/js/jssor.js"></script>

<script>
    $(document).ready(function(){
        url = "<?php echo $this->baseUrl(); ?>/Api/";
        fetchCountry();
    });
    </script>
    <script>
        jssor_slider1_starter('slider1_container');
        </script>