<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Olamide Alli omo_luabi">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>Rebruit</title>

    <!-- Bootstrap core CSS -->
    <link href="<?php echo $this->baseUrl(); ?>/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="<?php echo $this->baseUrl(); ?>/dashboard.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


<!-- JavaScript -->
<script src="//cdn.jsdelivr.net/alertifyjs/1.4.1/alertify.min.js"></script>

<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.4.1/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.4.1/css/themes/default.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.4.1/css/themes/semantic.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.4.1/css/themes/bootstrap.min.css"/>

<!-- 
    RTL version
-->
<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.4.1/css/alertify.rtl.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.4.1/css/themes/default.rtl.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.4.1/css/themes/semantic.rtl.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.4.1/css/themes/bootstrap.rtl.min.css"/>


    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
    
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    <script src="//cdn.ckeditor.com/4.5.1/standard/ckeditor.js"></script> 
    <style>
     #map-canvas {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

    </style>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<style>
    
body{
 font-family:comfortaa;
 background-color:#EEE;
}
#msgLine2 #msg{
    text-align: right;
}
.sign_up_input{
	font-size:larger;
}
.create_message:hover{
    background-color: #003B4F;
    color: #f5f5f5;
    border-radius: 5px;
    padding: 5px;
}
#searchSpace ul {
	width: 206px;
	border: 1px solid #eaeaea;
	position: absolute;
	z-index: 9;
	background: #fff;
        right: 30px;
	list-style: none;
        border-radius: 5px;
        overflow-y: auto;
        max-height: 500px;
}
#searchSpace ul li {
	padding: 2px;
    margin-left: -40px;
}
#searchSpace ul li:hover {
	background: #eaeaea;
}
#search_list_id {
	display: none;
        /*background-color: #f3f3f3;
        height: 500px;
        position: absolute;
        width: 400px;*/
}
#search_list_id2{
    min-width: 206px;
    border: 1px solid #eaeaea;
    position: absolute;
    z-index: 9;
    background: #fff;
    left: 35px;
    list-style: none;
    border-radius: 5px;
    overflow-y: auto;
    max-height: 500px;
    display: none;
    margin-top: 35px;
}
.search-group{
    margin-top:10px;
    border-bottom: solid thin #ccc;
    padding: 5px;
}
.search-title{
    font-size: larger;
}
.search-under-title{
    font-size: smaller;
}
.search-img{
    float:left;
    padding: 5px 2px 0px 5px;
    width: 30px;
}

/* ============================================================================================================================
== BUBBLE WITH A BORDER AND TRIANGLE
** ============================================================================================================================ */

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.msg_img{
    border-radius: 50%;
    border: solid thin #49BAD1;
    height: 70px;
    width: 70px;
}

.msg_img.right{
    border-color: #043847;
}

.msg_img img{
    max-width: 100%;
    overflow: hidden;
}

#msg{
    margin-bottom: -20px;
}

.msg_img.right{
    margin-left: -50px;
}

.triangle-border {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  border:thin solid #043847;
  color:#333;
  background:#fff;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-border.left {
  margin-left:30px;
  border:thin solid #49BAD1;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-border.right {
  margin-right:30px;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border:before {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:40px; /* controls horizontal position */
  border-width:20px 20px 0;
  border-style:solid;
  border-color:#043847 transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
  content:"";
  position:absolute;
  bottom:-13px; /* value = - border-top-width - border-bottom-width */
  left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width:13px 13px 0;
  border-style:solid;
  border-color:#fff transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* Variant : left
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.left:before {
  top:11px; /* controls vertical position */
  bottom:auto;
  left:-26px; /* value = - border-left-width - border-right-width */
  border-width:10px 26px 12px 0;
  border-color:transparent #49BAD1;
}

/* creates the smaller  triangle */
.triangle-border.left:after {
  top:12px; /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom:auto;
  left:-21px; /* value = - border-left-width - border-right-width */
  border-width:9px 21px 13px 0;
  border-color:transparent #fff;
}

/* Variant : right
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.right:before {
  top:11px; /* controls vertical position */
  bottom:auto;
  left:auto;
  right:-26px; /* value = - border-left-width - border-right-width */
  border-width:10px 0 12px 26px;
  border-color:transparent #043847;
}

/* creates the smaller  triangle */
.triangle-border.right:after {
  top:12px; /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom:auto;
  left:auto;
  right:-21px; /* value = - border-left-width - border-right-width */
  border-width:9px 0 13px 21px;
  border-color:transparent #fff;
}

</style>
  <body>
<!--MODAL VIEW BEGINS HERE -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43870465-1', 'rebruit.com');
  ga('send', 'pageview');

</script>
<div class="modal fade" id="other_info" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="detail_modal">Details</h4>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
                <div id="forgot_alert" class="alert alert-danger">
                      <strong>Oh snap!</strong> Error Encountered, please change a few things and try again.
                </div>
                <div id="other_info_content" class="col-sm-12">
                    
                </div>
            </div>
            </div>
          </div>
        <div class="modal-footer">
          <button type="button" id="closemodal" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="job_apply()" id="apply">Apply</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  
  
  
<div class="modal fade" id="imgupload" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel">Change display picture</h4>
        </div>
        <!--onclick="getImgFile();"-->
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div id="upload_alert" class="alert alert-danger">
                    <strong>Oh snap!</strong> Error Encountered, please change a few things and try again.
              </div>
              <div id="output" style="display:none">

              </div>
              <div class="col-md-4">
                <img id="img-preview" onclick="getImgFile();" src="<?php echo $this->baseUrl() .'/'. $this->user_image; ?>" class="img-responsive img-thumbnail"  alt="User">
              </div>
              <div class="col-md-6 col-md-offset-2">
                <div id="upload_loading" style="text-align:center; font-size:xx-large; display:none; ">
                  <i id="spinner" class="icon-spinner icon-spin icon-large"></i>
                  <div style="text-align:center;"> Please Wait.</div>
                </div>
                <div id="upload_instruction">
                  <div style="text-align:center; font-size:xx-large; padding-top:30px;">
                    <span class="glyphicon glyphicon-cloud-upload" onclick="getImgFile();"> </span>
                  </div>
                  <div style="text-align:center;"> Click to select a new Image.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="closeupload" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="saveImage">Upload and use Image</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<!--MODAL VIEW ENDS HERE-->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style='font-family:comfortaa; font-size:200%;'>
			  <img src='<?php echo $this->baseUrl(); ?>/assets/img/header.png' style='height:200%; margin-top:-10px;'/>
			  Rebruit
		  </a>
        </div>
        <div class="navbar-collapse collapse">
          <!--<div class='nav navbar-nav navbar-right' style='font-size:xx-large; color:white;'>
			<span class="icon-home" >h</span>
			<span class="icon-user">p</span>
			<span class="icon-sitemap">c</span>
			<span class="icon-suitcase">j</span>
			<span class="icon-money">w</span>
			<span class="icon-warning-sign">n</span>
			<span class="icon-envelope">m</span>
		  </div>-->
    <?php
        $user_details = new Zend_Session_Namespace('user_details');
        $this->user_type = $user_details->user_type;
    ?>
		<div class="navbar-form navbar-right">
                      <div id="searchSpace">
                          <!--<input id="searchBox" type="text" class="typeahead form-control" autocomplete="off" placeholder="Search..."/>-->
                          <input id="searchBox" type="text" class="form-control" onkeyup="autocomplet()" autocomplete="off" placeholder="Search..."/>
                          <ul id="search_list_id">
                              <!--<div class="search-group">
                                  <div class="search-title"> Alli Abdulateef Olamide </div>
                                <div class="search-under-title">Connect Message</div>
                              </div>
                              <div class="search-group">
                                  <div class="search-title">Second person's name</div>
                                <div class="search-under-title">Connect Message</div>
                              </div>-->
                          </ul>
                      </div>
                </div>
         <ul class="nav navbar-nav navbar-right">
            <li><a href="Index" title='Home'><span class="icon-home"></span></a></li>
            <li><a href="Profile" title='Profile'><span class="icon-user"></span></a></li>
            <!--<li><a href="Connections" title='Connections'><span class="icon-sitemap"></span></a></li>-->
            <li><a href="Jobs" title='Jobs'><span class="icon-suitcase"></span></a></li>
            <!--<li><a href="Wallet" title='Wallet'><span class="icon-money"></span></a></li>-->
            <li><a href="Messages" title='Messages'><span class="icon-envelope"></span></a></li>
            <li><a href="?action=logout" title='Logout'><span class="glyphicon glyphicon-log-out"></span></a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
	
    <div class="container-fluid">
      <div class="row">
          <div class="col-sm-1 col-md-1 col-lg-2 sidebar">
            <ul class="nav nav-sidebar" style='margin-top:-20px;'>
                  <li class="img-active"> 
                      <div class='my-img' data-toggle="modal" data-target="#imgupload" >
                        <!--onclick="getImgFile();"-->
                          <!--#043847 img-active bg-->
                          <form style="display:none;" action="<?php echo $this->baseUrl(); ?>/uploads/processupload.php" method="post" enctype="multipart/form-data" id="MyUploadForm">
                            <input name="ImageFile" id="imageInput" type="file" accept="image/*" />
                            <input name="userid" id="user_id" value="<?php echo $this->user_id; ?>" type="text" />
                            <input type="submit"  id="submit-btn" value="Upload" />
                            <img src="img/ajax-loader.gif" id="loading-img" style="display:none;" alt="Please Wait"/>
                          </form>
                          <!--#49BAD1 img border-->
                                  <img id="profileimg" src="<?php echo $this->baseUrl() .'/'. $this->user_image; ?>" class="img-responsive" style='margin:auto;-webkit-border-radius:50%; border:1px solid silver; width:75%;' alt="User">
                          </div>
                          <div class='profile-name hidden-md'>
                              <a title="preview my profile" href='Preview?profile=<?php echo $this->user_id; ?>'><?php echo $this->user_full_name; ?> </a>
                          </div>
                  <hr/>
                  </li>
                  <li class="menu_link link_Index"><a href="Index"><span class="icon-home hidden-lg"></span> <span class="hidden-sm hidden-md">Home</span></a></li>

                  <li class="menu_link link_Profile"><a href="Profile"><span class="icon-user hidden-lg"></span> <span class="hidden-sm hidden-md">Profile</span></a></li>
                  <!--<li class="menu_link link_Connections"><a href="Connections"><span class="icon-sitemap"></span> <span class="hidden-md">Connections</span></a></li>-->
                  <li class="menu_link link_Jobs"><a href="Jobs"><span class="icon-suitcase hidden-lg"></span> <span class="hidden-sm hidden-md">Jobs</span></a></li>
                  <!--<li class="menu_link link_Wallet"><a href="Wallet"><span class="icon-money"></span> <span class="hidden-md">Wallet</span></a></li>-->
                  <li class="menu_link link_Messages"><a href="Messages"><span class="icon-envelope hidden-lg"></span> <span class="hidden-sm hidden-md ">Messages</span></a></li>
                  <?php 
                        if($this->user_type === 2 || $this->user_type === '2'){
                            echo '<li class="menu_link link_Recruiter"><a href="Recruiter"><span class="icon-gear hidden-lg"></span> <span class="hidden-sm hidden-md">Recruiter</span></a></li>';
                        }
                    ?>
                  <li class="menu_link link_Logout"><a href="?action=logout" title='Logout'><span class="glyphicon glyphicon-log-out hidden-lg"></span><span class="hidden-sm hidden-md"> Logout</span></a></li>
            </ul>
          </div>
          <div class="col-sm-11 col-sm-offset-1 col-md-11 col-md-offset-1 col-lg-10 col-lg-offset-2 main">
                  <!--<h1 class="page-header">Dashboard</h1>-->
                  <!--Alerts Space -->
                  <div class="alert alert-success">
                          <strong>Post!</strong> You successfully shared this post with your friends, they should thank you.
                    </div>
                    <div class="alert alert-info">
                          <strong>Heads up!</strong> You are required to do certain things at this point.
                    </div>
                    <div class="alert alert-warning">
                          <strong>Warning!</strong> Doesn't feel like all is going as fine as it should.
                    </div>
                    <div id="main_alert" class="alert">
                          <strong>Oh snap!</strong> Error Encountered, please change a few things and try again.
                    </div>
                  <!--End of Alerts Space-->
                  <div class="container-fluid">
                       
                      <?php echo $this->layout()->content; ?>
                  </div>

                  <hr style='color:white;'>

                    <footer>
                          <p>&copy; Rebruit 2015</p>
                    </footer>
          </div>
      </div>
      <p><!--<a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a>--></p>
    </div>
      <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
    
    <script> url = "<?php echo $this->baseUrl();?>/api/"; </script>
    <script src="<?php echo $this->baseUrl(); ?>/js/jquery.min.js"></script>
    <script src="<?php echo $this->baseUrl(); ?>/js/jquery.form.js"></script>
    <script>
        $(document).ready(function(){
          base = "<?php echo $this->baseUrl(); ?>";
          url = "<?php echo $this->baseUrl(); ?>/api/";
          default_img = "<?php echo $this->baseUrl(); ?>"+"/assets/img/user.png";
          my_img = "<?php echo $this->user_image; ?>";
          user_id = "<?php echo $this->user_id; ?>";
          user_name="<?php echo $this->user_name; ?>";
        });
    </script>
    <script src="<?php echo $this->baseUrl(); ?>/dist/js/bootstrap.min.js"></script>
    <!--<script src="<?php echo $this->baseUrl(); ?>/js/typeahead.js"></script>
    <script src="<?php echo $this->baseUrl(); ?>/js/typeahead/dist/typeahead.bundle.min.js"></script>-->
    <script src="<?php echo $this->baseUrl(); ?>/js/functions.js"></script>
    <script src="<?php echo $this->baseUrl(); ?>/js/script.js"></script>
    <script src="<?php echo $this->baseUrl(); ?>/js/Chart.min.js"></script>
    <!--<script src="<?php echo $this->baseUrl(); ?>/js/searchControl.js"></script>-->
  </body>
</html>