<div class='inside-tab img-rounded'>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" class="active"><a href="#Create" aria-controls="Create" role="tab" data-toggle="tab">All Users <span class="glyphicon glyphicon-plus"></span></a></li>
                      <li role="presentation"><a href="#Message" aria-controls="Message" role="tab" data-toggle="tab">Recruiters <span class="glyphicon glyphicon-envelope"></span></a></li>
                      <li role="presentation"><a href="#Shortlist" aria-controls="Shortlist" role="tab" data-toggle="tab">Shortlist <span class="icon-edit"></span></a></li>
                      <li role="presentation"><a href="#Matches" aria-controls="Matches" role="tab" data-toggle="tab">Job Matches <span class="glyphicon glyphicon-search"></span></a></li>
                      <li role="presentation"><a href="#CBT" aria-controls="CBT" role="tab" data-toggle="tab">CBT <span class="icon-desktop"></span></a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane active" id="Create"></div>
                      <div role="tabpanel" class="tab-pane" id="Message"></div>
                      <div role="tabpanel" class="tab-pane" id="Shortlist"></div>
                      <div role="tabpanel" class="tab-pane" id="Matches"></div>
                      <div role="tabpanel" class="tab-pane" id="CBT"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


