<div class="container-fluid">
    <div class="row">
            <div class="col-sm-6 col-md-6" style=''>
                    <div style='padding:10px; background-color:white; margin-bottom:10px;'>
                            <h4>What's New</h4>
                            <hr/>
                            <form>
                            <!--
                                    <textarea style='width:100%;' placeholder="Let's know what's going gone!"></textarea>-->
                                    <input type="text" class="form-control" placeholder="Let's know what's going gone!">
                              </form>
                              <br/>
                              <button type="submit" class="btn btn-success">Post</button>
                    </div>
                    <!--Begin posts here-->
                    <div id='posts'>

                    </div>
                    <!--End of posts-->
            </div>
            <div class="col-sm-6 col-md-6">
                    <div class='inside-tab center'>
                            <h4 class='tab-title'><span class="icon-user"></span> Profile</h4>
                            <hr/>
                            <img src="<?php echo $this->baseUrl(); ?>/assets/img/user.png" class="img-responsive" style='margin:auto;-webkit-border-radius:50%; border:1px solid #49BAD1;' alt="User">
                              <h4>Kayode Usman Chinedu</h4>
                              <span class="text-muted">When I see Opportunity, I try my best to grab it</span>

                              <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"><span class="sr-only">20% Complete</span></div>
                              </div>
                              <div>
                                    Profile Completion
                              </div>
                    </div>

                    <div>
                            <div class='inside-tab'>
                            <h4 class='tab-title'><span class="icon-suitcase"></span> Jobs</h4>
                            <hr/>
                            <div class="container-fluid">
                                    <div class="row">
                                            <div class="col-xs-12">
                                                    <div class="list-group">
                                                            <a href="#" class="list-group-item active">
                                                              Shell Vacancy
                                                            </a>
                                                            <a href="#" class="list-group-item">IT Administrator</a>
                                                            <a href="#" class="list-group-item">UI Specialist</a>
                                                            <a href="#" class="list-group-item">Finance Officer</a>
                                                      </div>
                                            </div>
                                    </div>
                            </div>
                            </div>
                    </div>

                    <div>
                    <div class='inside-tab center'>
                            <h4 class='tab-title'><span class="icon-sitemap"></span> Connections</h4>
                            <hr/>
                            <div class="container-fluid">
                                    <div class="row">
                                            <div class="col-xs-6 col-md-4">
                                                    <div class='conn'></div>
                                                    <div> Friend 1 </div>
                                            </div>
                                            <div class="col-xs-6 col-md-4">
                                                    <div class='conn'></div>
                                                    <div> Friend 2 </div>
                                            </div>
                                            <div class="col-xs-6 col-md-4">
                                                    <div class='conn'></div>
                                                    <div> Friend 3 </div>
                                            </div>
                                    </div>
                            </div>
                            </div>
                    </div>

            </div>
    </div>
</div>