<div class='inside-tab img-rounded'>
<div class="container-fluid">
 <div class="row">
    <div class="col-xs-12">
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#Personal" aria-controls="Personal" role="tab" data-toggle="tab">Personal</a></li>
            <?php if($this->user_type === 3 || $this->user_type === '3'){ ?>
              <li role="presentation"><a href="#Education" aria-controls="Education" role="tab" data-toggle="tab">Education</a></li>
              
              <li role="presentation"><a href="#Certification" aria-controls="Certification" role="tab" data-toggle="tab">Certification</a></li>
              
              <li role="presentation"><a href="#Experience" aria-controls="Experience" role="tab" data-toggle="tab">Experience</a></li>

              <li role="presentation"><a href="#SkillsandAwards" aria-controls="Skills and Awards" role="tab" data-toggle="tab">Skills and Awards</a></li>
            <?php } ?>
            </ul>
<?php
function isSelected($what, $selected){
    if($what === $selected){
        return "selected";
    }else{
        return "";
    }
}

function isFilled($field){
    if(trim($field) === ''){
        return false;
    }
    return true;
}
?>
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="Personal">
                <div class='inside-tab'>
                    <div id="personal_profile_alert" class="alert">
                              <strong>Oh snap!</strong> Error Encountered, please change a few things and try again.
                        </div>
                    <div>
                        
                    </div>
                        <form name='personal_profile' id='personal_profile' method="post" action="">
                            <div class="form-group has-feedback <?php if(!isFilled($this->lastname)) echo "has-warning";?>">
                                <label class="control-label" for="p_full_name">Full Name</label>
                                <div class="input-group">
                                  <span class="input-group-addon"><i class="icon-user"></i></span>
                                  <input type="text" value="<?php if(trim($this->lastname) != '')echo $this->lastname; ?>" placeholder="Surname" class="form-control col-xs-12 col-md-4" id="p_surname" name="p_surname" aria-describedby="inputSuccess2Status"/>
                                  <input type="text" value="<?php if(trim($this->firstname) != '')echo $this->firstname; ?>" placeholder="Firstname" class="form-control col-xs-12 col-md-4" id="p_firstname" name="p_firstname" aria-describedby="inputSuccess2Status"/>
                                  <input type="text" value="<?php if(trim($this->middlename) != '')echo $this->middlename; ?>" placeholder="Middlename" class="form-control col-xs-12 col-md-4" id="p_middlename" name="p_middlename" aria-describedby="inputSuccess2Status"/>
                                </div>
                                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span id="p_full_nameStatus" class="sr-only">(success)</span>
                            </div>
                            <div class="form-group has-feedback"><!--has-warning-->
                                <label class="control-label" for="p_dob">Date of Birth</label>
                                <div class="input-group">
                                  <span class="input-group-addon"><i class="icon-calendar"></i></span>
                                  <input type="date" value="<?php if(trim($this->dob) != '')echo $this->dob; ?>" max="2005-12-01" class="form-control" id="p_dob" name="p_dob" aria-describedby="inputWarning2Status">
                                </div>
                                <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                                <span id="p_dobStatus" class="sr-only">(warning)</span>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label" for="p_gender">Gender</label>
                                <select class="form-control" id="p_gender" name="p_gender" aria-describedby="p_genderStatus">
                                    <option value="" selected> Select Gender</option>
                                    <option value="Female" <?php if(trim($this->gender) == 'Female')echo "selected"; ?>>Female</option>
                                    <option value="Male" <?php if(trim($this->gender) == 'Male')echo "selected"; ?>>Male</option>
                                </select>
                                <span id="p_genderStatus" class="sr-only">(warning)</span>
                            </div>
                            <div class="form-group has-feedback"><!--has-error || has-success-->
                                <label class="control-label" for="p_marital">Marital Status</label>
                                <select class="form-control" id="p_marital" name="p_marital" aria-describedby="p_maritalStatus">
                                    <option value="" selected>Select Marital Status</option>
                                    <option value="Married" <?php if(trim($this->marital) == 'Married')echo "selected"; ?>>Married</option>
                                    <option value="Single" <?php if(trim($this->marital) == 'Single')echo "selected"; ?>>Single</option>
                                </select>
                                <span id="p_maritalStatus" class="sr-only">(error)</span>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label" for="p_nationality">Nationality</label>
                                <input type="hidden" id="country_selected" value="<?php echo trim($this->country); ?>"/>
                                <select class="form-control" id="p_nationality" aria-describedby="p_nationalityStatus">
                                    <option value="" selected>Select Country</option>
                                    <!--<option value="1" <?php if(trim($this->country) == '1')echo "selected"; ?>>Ghana</option>
                                    <option value="2" <?php if(trim($this->country) == '2')echo "selected"; ?>>Nigeria</option>-->
                                </select>
                                <span id="p_nationalityStatus" class="sr-only">(error)</span>
                            </div>
                            <hr/>
                            <div class="form-group has-feedback">
                                <label class="control-label" for="p_mob_num">Mobile Number</label>
                                <div class="input-group">
                                  <span class="input-group-addon"><i class="icon-phone"></i></span>
                                  <input type="text" value="<?php if(trim($this->user_phone) != '')echo $this->user_phone; ?>" class="form-control" id="p_mob_num" aria-describedby="p_mob_numStatus">
                                </div>
                                <span id="p_job_prefStatus" class="sr-only">(error)</span>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label" for="p_email">Email Address</label>
                                <div class="input-group">
                                  <span class="input-group-addon">@</span>
                                  <input type="text" value="<?php if(trim($this->user_email) != '')echo $this->user_email; ?>" class="form-control" id="p_email" aria-describedby="p_emailStatus">
                                </div>
                                <span id="p_emailStatus" class="sr-only">(error)</span>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label" for="p_address">Full Address</label>
                                <div class="input-group">
                                  <span class="input-group-addon"><i class="icon-home"></i></span>
                                  <input type="text" value="<?php if(trim($this->address) != '')echo $this->address; ?>" class="form-control" id="p_address" aria-describedby="p_addressStatus">
                                </div>
                                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span id="p_addressStatus" class="sr-only">(success)</span>
                            </div>
                            <hr/>
                            <div class="form-group has-feedback">
                                <label class="control-label" for="p_emp_status">Employment Status</label>
                                <select class="form-control" id="p_emp_status" aria-describedby="p_emp_statusStatus">
                                    <option value="" selected>Select Employment Status</option>
                                    <option value="1">Employed</option>
                                    <option value="2">Unemployed</option>
                                </select>
                                <span id="p_emp_statusStatus" class="sr-only">(error)</span>
                            </div>
                            <div class="form-group has-feedback <?php if(!isFilled($this->user_sector)) echo "has-warning";?>">
                                <label class="control-label" for="p_sector">Preferred Sector</label>
<!--                                <input type="text" value="<?php if(trim($this->user_sector) != '')echo $this->user_sector; ?>" class="form-control" id="p_sector" aria-describedby="p_sectorStatus">-->
                                <select class="form-control" id="p_sector" aria-describedby="p_sectorStatus">
                                    <option value="0" selected>Choose a Sector</option>
                                    <?php
                                            for($i=0; $i<count($this->sectors); $i++){ //isSelected($this->sectors[$i]['rebruit_sector_id'], $this->user_sector)
                                                echo "<option value='".$this->sectors[$i]['rebruit_sector_id']."' ".isSelected($this->sectors[$i]['rebruit_sector_id'], $this->user_sector).">".$this->sectors[$i]['rebruit_sector_label']."</option>";
                                            }
                                    ?>
                                </select>
                                <span id="p_sectorStatus" class="sr-only">(error)</span>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label" for="p_job_pref">Job Preference</label>
                                <input type="text" value="<?php if(trim($this->user_job_preference) != '')echo $this->user_job_preference; ?>" class="form-control" id="p_job_pref" aria-describedby="p_job_prefStatus">
                                <span id="p_job_prefStatus" class="sr-only">(error)</span>
                            </div>
                            
                        </form>
                        <br/>
                          <div class='right'>
                              <button type="submit" onclick="save_personal_profile('<?php echo $this->user_id; ?>');" class="btn btn-success">Save Personal</button>
                          </div>
                      </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="Education">
                    <div class='inside-tab'>
                        <div id="education_profile_alert" class="alert">
                              <strong>Oh snap!</strong> Error Encountered, please change a few things and try again.
                        </div>
                        <h4> Education <i onClick="add_row('edu')" style="float:right;" class="icon-plus"></i></h4>
                        <hr/>
                        <div class="container-fluid">
                            <div class="row sub_profile_header">
                                <div class="col-sm-4">
                                    School
                                </div>
                                <div class="col-sm-3">
                                    Course of Study
                                </div>
                                <div class="col-sm-2">
                                    Graduated (MM/YY)
                                </div>
                                <div class="col-sm-2">
                                    Degree Level
                                </div>
                                <div class="col-sm-1">
                                    
                                </div>
                            </div>
                            <form name='education_profile' id='education_profile' method="post" action="">
                                <div id="edu_rows">
                                    <?php
                                        if(count($this->edu) > 0){
                                            for($i=0; $i<count($this->edu); $i++){
                                                $row = '<div><div class="row">'.
                                                '<div class="col-sm-4">'.$this->edu[$i]['education_institution'].'</div>'.
                                                '<div class="col-sm-3">'.$this->edu[$i]['education_certification'].'</div>'.
                                                '<div class="col-sm-2">'.$this->edu[$i]['education_year_to'].'</div>'.
                                                '<div class="col-sm-2">'.$this->edu[$i]['education_grade'].'</div>'.
                                                '<div class="col-sm-1"><i title="Remove row" onClick="delete_row()" class="icon-trash"></i></div></div><hr/></div>';
                                                echo $row;
                                            }
                                        }
                                        //var_dump($this->edu);
                                    ?>
                                </div>
                            </form>
                            <!--
                            <div class="row">
                                <div class="col-sm-4">
                                    Crescent University, Abeokuta.
                                </div>
                                <div class="col-sm-2">
                                    2006
                                </div>
                                <div class="col-sm-2">
                                    2011
                                </div>
                                <div class="col-sm-2">
                                    BSc. Economics
                                </div>
                                <div class="col-sm-2">
                                    Remark
                                </div>
                            </div>
                            <hr/>
                            -->
                        </div>
                        <br/>
                          <div class='right'>
                                <button onclick="save_other_profile('<?php echo $this->user_id; ?>', 'education_profile');" type="submit" class="btn btn-success">Save Education</button>
                          </div>
                        </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="Certification">
                    <div class='inside-tab'>
                        <div id="certification_profile_alert" class="alert">
                              <strong>Oh snap!</strong> Error Encountered, please change a few things and try again.
                        </div>
                        <h4> Certification <i onClick="add_row('cert')" style="float:right;" class="icon-plus"></i></h4>
                        <hr/>
                        <div class="container-fluid">
                            <div class="row sub_profile_header">
                                <div class="col-sm-4">
                                    Certification Provider
                                </div>
                                <div class="col-sm-4">
                                    Certification Type
                                </div>
                                <div class="col-sm-3">
                                    Year Completed
                                </div>
<!--                                <div class="col-sm-3">
                                    Remark
                                </div>-->
                                <div class="col-sm-1">
                                    <!--Button-->
                                </div>
                            </div>
                            <form name='certification_profile' id='certification_profile' method="post" action="">
                                <div id="cert_rows">
                                    <div id="edu_rows">
                                    <?php
                                        //var_dump($this->cert);
                                        if(count($this->cert) > 0){
                                            for($i=0; $i<count($this->cert); $i++){
                                                $row = '<div><div class="row">'.
                                                    '<div class="col-sm-4">'.$this->cert[$i]['certification_provider'].'</div>'.
                                                    '<div class="col-sm-4">'.$this->cert[$i]['certification_certification'].'</div>'.
                                                    '<div class="col-sm-3">'.$this->cert[$i]['certification_year'].'</div>'.
                                                    //'<div class="col-sm-3">'.$this->cert[$i]['certification_remark'].'</div>'.
                                                    '<div class="col-sm-1"><i title="Remove row" onClick="delete_row()" class="icon-trash"></i></div></div><hr/></div>';
                                                echo $row;
                                            }
                                        }
                                    ?>
                                </div>
                                </div>
                            </form>
                            
                        </div>
                        <br/>
                          <div class='right'>
                                <button type="submit" onclick="save_other_profile('<?php echo $this->user_id; ?>', 'certification_profile');" class="btn btn-success">Save Certification</button>
                          </div>
                        </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="Experience">
                    <div class='inside-tab'>
                        <div id="experience_profile_alert" class="alert">
                              <strong>Oh snap!</strong> Error Encountered, please change a few things and try again.
                        </div>
                        <h4> Experience <i onClick="add_row('exp')" style="float:right;" class="icon-plus"></i></h4>
                        <hr/>
                        <div class="container-fluid">
                        <div class="row sub_profile_header">
                                <div class="col-sm-3">
                                    Employer
                                </div>
                                <div class="col-sm-2">
                                    Job Title
                                </div>
                                <div class="col-sm-2">
                                    Start Date
                                </div>
                                <div class="col-sm-2">
                                    End Date
                                </div>
                                <div class="col-sm-2">
                                    Job Description
                                </div>
                                <div class="col-sm-1">
                                    
                                </div>
                            </div>
                            <form name='experience_profile' id='experience_profile' method="post" action="">
                                <div id="exp_rows">
                                    <div id="edu_rows">
                                    <?php
                                        //var_dump($this->exp);
                                        if(count($this->exp) > 0){
                                            for($i=0; $i<count($this->exp); $i++){
                                                $row = '<div><div class="row">'.
                                                    '<div class="col-sm-3">'.$this->exp[$i]['work_company'].'</div>'.
                                                    '<div class="col-sm-2">'.$this->exp[$i]['work_job_title'].'</div>'.
                                                    '<div class="col-sm-2">'.$this->exp[$i]['work_year_from'].'</div>'.
                                                    '<div class="col-sm-2">'.$this->exp[$i]['work_year_to'].'</div>'.
                                                    '<div class="col-sm-2">'.$this->exp[$i]['work_job_description'].'</div>'.
                                                    '<div class="col-sm-1"><i title="Remove row" onClick="delete_row()" class="icon-trash"></i></div></div><hr/></div>';
                                                echo $row;
                                            }
                                        }
                                    ?>
                                </div>
                                </div>
                            </form>
                            
                        <br/>
                          <div class='right'>
                                <button type="submit" onclick="save_other_profile('<?php echo $this->user_id; ?>', 'experience_profile');" class="btn btn-success">Save Experience</button>
                          </div>
                        </div>
                        </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="SkillsandAwards">
                    <div class='inside-tab'>
                        <div id="skill_profile_alert" class="alert">
                              <strong>Oh snap!</strong> Error Encountered, please change a few things and try again.
                        </div>
                        <h4> Skills <i onClick="add_row('skill')" style="float:right;" class="icon-plus"></i></h4>
                        <hr/>
                        <div class="container-fluid">
                        <div class="row sub_profile_header">
                                <div class="col-sm-11">
                                    Skill Acquired
                                </div>
                                <div class="col-sm-1">
                                </div>
                            </div>
                            <form name='skill_profile' id='skill_profile' method="post" action="">
                                <div id="skill_rows">
                                    <?php
                                        //var_dump($this->skills);
                                        if(count($this->skills) > 0){
                                            for($i=0; $i<count($this->skills); $i++){
                                                $row = '<div><div class="row">'.
                                                    '<div class="col-sm-11">'.$this->skills[$i]['skill_detail'].'</div>'.
                                                    '<div class="col-sm-1"><i title="Remove row" onClick="delete_row()" class="icon-trash"></i></div></div><hr/></div>';
                                                echo $row;
                                            }
                                        }
                                    ?>
                                </div>
                            </form>
                        <br/>
                          <div class='right'>
                                <button type="submit" onclick="save_other_profile('<?php echo $this->user_id; ?>', 'skill_profile');" class="btn btn-success">Save Skills</button>
                          </div>
                        </div>
                    </div>
                    <div class='inside-tab'>
                        <div id="award_profile_alert" class="alert">
                              <strong>Oh snap!</strong> Error Encountered, please change a few things and try again.
                        </div>
                        <h4> Awards <i onClick="add_row('award')" style="float:right;" class="icon-plus"></i></h4>
                        <hr/>
                        <div class="container-fluid">
                        <div class="row sub_profile_header">
                                <div class="col-sm-4">
                                    Award Type
                                </div>
                                <div class="col-sm-5">
                                    Awarding Body
                                </div>
                                <div class="col-sm-2">
                                    Year
                                </div>
                                <div class="col-sm-1">
                                    
                                </div>
                            </div>
                            <form name='award_profile' id='award_profile' method="post" action="">
                                <div id="award_rows">
                                    <div id="edu_rows">
                                        <?php
                                            //var_dump($this->awards);
                                            if(count($this->awards) > 0){
                                            for($i=0; $i<count($this->awards); $i++){
                                                $row = '<div><div class="row">'.
                                                    '<div class="col-sm-4">'.$this->awards[$i]['award_type'].'</div>'.
                                                    '<div class="col-sm-5">'.$this->awards[$i]['award_body'].'</div>'.
                                                    '<div class="col-sm-2">'.$this->awards[$i]['year_acquired'].'</div>'.
                                                    '<div class="col-sm-1"><i title="Remove row" onClick="delete_row()" class="icon-trash"></i></div></div><hr/></div>';
                                                echo $row;
                                            }
                                        }
                                        ?>
                                    </div>
                                </div>
                            </form>
                        <br/>
                          <div class='right'>
                                <button type="submit" onclick="save_other_profile('<?php echo $this->user_id; ?>', 'award_profile');" class="btn btn-success">Save Awards</button>
                          </div>
                        </div>
                    </div>
              </div>
            </div>

          </div>
      </div>
  </div>
</div>
</div>