<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class='inside-tab center'>
                <h4 class='tab-title'><span class="icon-user"></span> <?php echo $this->this_full_name; ?>'s Profile</h4>
                <hr/>
                <img src="<?php echo $this->baseUrl() .'/'. $this->this_user_image; ?>" class="img-responsive" style='margin:auto;-webkit-border-radius:50%; border:1px solid #49BAD1;' alt="User">
                <h4><?php echo $this->this_full_name; ?></h4>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class='inside-tab center'>
                <h4 class='tab-title'><span class="icon-filter"></span> Skills and Awards</h4>
                <hr/>
                <div class="row">
                    <?php
                        //var_dump($this->skills);
                        for($i = 0; $i < count($this->skills); $i++){
                            echo "<button class='btn btn-success'>".$this->skills[$i]['skill_detail']."</button> ";
                        }
                    ?>
                   
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class='inside-tab center'>
                <h4 class='tab-title'><span class="icon-briefcase"></span> Experience</h4>
                <hr/>
                <div class="row">
                    <?php
                        //var_dump($this->exp);
                        for($i = 0; $i < count($this->exp); $i++){
                            echo "<div class='col-xs-3' style='border:1px solid #f5f5f5; margin:10px; padding:5px;'>";
                            echo "<div style=''text-align:center;> ".$this->exp[$i]['work_company']." </div>";
                            echo "<div style=''text-align:center;> ".$this->exp[$i]['work_job_title']." </div>";
                            echo "<div style=''text-align:center;> ".$this->exp[$i]['work_year_from']." - ".$this->exp[$i]['work_year_from']." </div>";
                            echo "</div> ";
                        }
                    ?>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class='inside-tab center'>
                <h4 class='tab-title'><span class="icon-book"></span> Education</h4>
                <hr/>
                <div class="row">
                <?php
                    for($i = 0; $i < count($this->edu); $i++){
                        echo "<div class='col-xs-3 col-md-4' style='border:1px solid #f5f5f5; margin:10px; padding:5px; -webkit-border-radius:2px'>";
                        echo "<div style=''text-align:center;> <b>".$this->edu[$i]['education_institution']."</b> </div>";
                        echo "<div style=''text-align:center;> ".$this->edu[$i]['education_major']." </div>";
                        echo "<div style=''text-align:center;> ".$this->edu[$i]['education_certification']." </div>";
                        echo "<div style=''text-align:center;> Finished ".$this->edu[$i]['education_month_to'].", ".$this->edu[$i]['education_year_to']." </div>";
                        echo "</div> ";
                    }
                ?>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class='inside-tab center'>
                <h4 class='tab-title'><span class="icon-certificate"></span> Certifications</h4>
                <hr/>
                <div class="row">
                    <?php
                        //var_dump($this->cert);
                        for($i = 0; $i < count($this->cert); $i++){
                            echo "<button class='btn btn-success'>".$this->cert[$i]['certification_certification']."</button> ";
                        }
                    ?>
                </div>
                
            </div>
        </div>
    </div>
    
    
</div>